Transfer-Encoding header converted to Content-Length header

When posting data using Transfer-Encoding: chunked
The json response of /post contains a Content-Length header and no sign of Transfer-Encoding headers.

Tested using curl
(data file was generated using `dd if=/dev/random of=data bs=1 count=100`)
```
$ curl -v -X POST  --header "Transfer-Encoding: chunked" -d @data http://httpbin.org/post
* Hostname was NOT found in DNS cache
*   Trying 54.175.222.246...
* Connected to httpbin.org (54.175.222.246) port 80 (#0)
> POST /post HTTP/1.1
> User-Agent: curl/7.37.1
> Host: httpbin.org
> Accept: */*
> Transfer-Encoding: chunked
> Content-Type: application/x-www-form-urlencoded
> 
> 44
* upload completely sent off: 75 out of 68 bytes
```

And response
```
< HTTP/1.1 200 OK
* Server nginx is not blacklisted
< Server: nginx
< Date: Wed, 20 May 2015 09:33:02 GMT
< Content-Type: application/json
< Content-Length: 636
< Connection: keep-alive
< Access-Control-Allow-Origin: *
< Access-Control-Allow-Credentials: true
< 
{
  "args": {}, 
  "data": "", 
  "files": {}, 
  "form": {
    "#\ufffd\u0013\ufffdX\ufffd\ufffdl\ufffd\u0003\ufffdb\u0516Yv\u0006\ufffd": "", 
    "\ufffd|\ufffdE\u0002\ufffd\ufffd\ufffdp}\ufffd\u00fc\ufffd\u0007\ufffdnM\ufffd'F\ufffd\ufffd\u0010>\ufffd\u0018n\ufffdB\ufffd\u0570\ufffd\ufffd": "\ufffdQ\u001d\u0003\ufffd\ufffd,\ufffd\ufffdS\u0677\ufffd"
  }, 
  "headers": {
    "Accept": "*/*", 
    "Content-Length": "68", 
    "Content-Type": "application/x-www-form-urlencoded", 
    "Host": "httpbin.org", 
    "User-Agent": "curl/7.37.1"
  }, 
  "json": null, 
  "origin": "a.b.c.d", 
  "url": "http://httpbin.org/post"
}
* Connection #0 to host httpbin.org left intact
```

So cURL is doing the right thing:

```
~ nc -l 8080
POST / HTTP/1.1
User-Agent: curl/7.37.1
Host: localhost:8080
Accept: */*
Transfer-Encoding: chunked
Content-Type: application/x-www-form-urlencoded

29
sEi��L�@�L�tfU�`�QCs�uL����qWB=2h��s
0
```

That's what I see when I set up netcat and then do `curl -v -X POST  --header "Transfer-Encoding: chunked" -d @data http://localhost:8080` with random data.

That rules out the idea that cURL might be doing something unexpected. So then I ran httpbin locally, e.g.,

```
~ git clone https://github.com/Runscope/httpbin
~ mkvirtualenv httpbin
~ cd httpbin
~ pip install -e .
~ python -m httpbin.core
```

And saw

```
~ curl -v -X POST  --header "Transfer-Encoding: chunked" -d @data http://localhost:5000/post
* Hostname was NOT found in DNS cache
*   Trying ::1...
* connect to ::1 port 5000 failed: Connection refused
*   Trying 127.0.0.1...
* Connected to localhost (127.0.0.1) port 5000 (#0)
> POST /post HTTP/1.1
> User-Agent: curl/7.37.1
> Host: localhost:5000
> Accept: */*
> Transfer-Encoding: chunked
> Content-Type: application/x-www-form-urlencoded
>
> 29
* upload completely sent off: 48 out of 41 bytes
* HTTP 1.0, assume close after body
< HTTP/1.0 200 OK
< Content-Type: application/json
< Content-Length: 374
< Access-Control-Allow-Origin: *
< Access-Control-Allow-Credentials: true
< Server: Werkzeug/0.10.4 Python/2.7.8
< Date: Thu, 21 May 2015 05:16:19 GMT
<
{
  "args": {},
  "data": "",
  "files": {},
  "form": {},
  "headers": {
    "Accept": "*/*",
    "Content-Length": "",
    "Content-Type": "application/x-www-form-urlencoded",
    "Host": "localhost:5000",
    "Transfer-Encoding": "chunked",
    "User-Agent": "curl/7.37.1"
  },
  "json": null,
  "origin": "127.0.0.1",
  "url": "http://localhost:5000/post"
}
* Closing connection 0
```

Which means that `httpbin` as an app does not have any problem detecting the chunked transfer-encoding and sets `Content-Length` to be an empty string (which is arguably a bug). That said, the behaviour you're seeing is with `httpbin.org` which is run on Heroku. This seems like a bug in their proxy service that sits between you and httpbin the app. This seems to firmly be a bug on Heroku's end.

Thanks for the quick checkup. I agree that it's a bug in their service

It seems like it is an implementation choice of Heroku rather than a bug.

> Unlike Content-Encoding (Section 3.1.2.1 of [RFC7231]),
> Transfer-Encoding is a property of the message, not of the
>  representation, and any recipient along the request/response chain
>  MAY decode the received transfer coding(s)
https://tools.ietf.org/html/rfc7230#section-3.3.1